body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #003366;
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  label {
    display: block;
    font-size: 20px;
    color: #003366;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #003366;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0059b3;
  }
  
  .resultado {
    font-size: 24px;
    color: #003366;
    margin-top: 20px;
    text-align: center;
  }
  
