body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
  }
  
  form {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table td, table th {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  table th {
    background-color: #EEE;
  }
  
  input[type="text"], input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #444;
  }
  