body {
            background-color: #F5F5F5;
            font-family: Arial, sans-serif;
        }

        #contenedor {
            margin: 0 auto;
            width: 400px;
            border: 1px solid #999;
            padding: 20px;
            background-color: #FFF;
            border-radius: 10px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
            color: #666;
        }

        input {
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px;
            font-size: 16px;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #666;
            color: #FFF;
            cursor: pointer;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
        }

        .resultado {
            margin-top: 20px;
            font-size: 18px;
            color: #666;
        }