body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    color: #0066cc;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}
p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}