body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #0066cc;
}


.highlight {
    display: inline-block;
    padding: 10px;
    background-color: #ffcc00;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
