body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin: 0 auto;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
textarea, input [type="text"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 190px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}