body {
    background-color: #F0F8FF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1 {
    color: #2F4F4F;
    text-align: center;
    margin-top: 50px;
}
form {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
input[type="text"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
input[type="submit"] {
    background-color: #2F4F4F;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #4B0082;
}
.resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #F5F5DC;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 20px;
}