body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 400px;
    background-color: #222;
    color: #fff;
    border: 2px solid #f00;
    padding: 10px;
}

td {
    padding: 5px;
}

td:first-child {
    font-weight: bold;
    text-align: right;
    width: 150px;
}

input[type=text], input[type=submit] {
    padding: 5px;
    border: 2px solid #f00;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

input[type=submit] {
    background-color: #f00;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #900;
}

.TextoFondo {
    background-color: #f00;
    color: #fff;
}