body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #333;
}
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
input[type=text], textarea {
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 10px;
    font-size: 16px;
}
input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 210px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
input[type=submit]:hover {
    background-color: #45a049;
}
label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
p {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}