form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
h1 {
text-align: center;
margin-top: 50px;
}
body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle at 50% -20.71%, #ff57d2 0, #ff4edb 12.5%, #f046e3 25%, #d63feb 37.5%, #b53cf2 50%, #8c3df9 62.5%, #4f40ff 75%, #0046ff 87.5%, #004bff 100%);
    margin: 0;
    padding: 0;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #dd06dd;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

input[type="submit"] {
    background-color: #ca2ac2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: #aa18a3;
}

p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.resultado {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-align: center;
    width: 100%;
    max-width: 300px;
}