body {
    font-family: fantasy;
    background-image: radial-gradient(circle at 56.16% -20.44%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    margin: 50px auto;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

table {
    width: 100%;
}
tr .comparacion{
    text-align: center;
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #9b1d1d;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #ce2929;
}

#txtArea, #txtPerimetro {
    font-weight: bold;
    color: #af122c;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

li {
    margin-bottom: 10px;
}
  
