body {
    
    background-image: radial-gradient(circle at 120.71% 50%, #abe0ec 0, #ace0ef 3.33%, #afdff3 6.67%, #b3def5 10%, #b7dcf7 13.33%, #bcdbf9 16.67%, #c1dafa 20%, #c7d8fa 23.33%, #cdd7f9 26.67%, #d3d5f8 30%, #d9d3f6 33.33%, #dfd2f4 36.67%, #e4d0f1 40%, #e9cfed 43.33%, #eecee9 46.67%, #f2cde5 50%, #f5cce0 53.33%, #f8ccdc 56.67%, #facbd7 60%, #fccbd2 63.33%, #fcccce 66.67%, #fcccc9 70%, #fbcdc5 73.33%, #facec1 76.67%, #f8cfbe 80%, #f5d0bb 83.33%, #f2d1b8 86.67%, #eed3b7 90%, #ead4b5 93.33%, #e6d6b5 96.67%, #e1d8b5 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

h1 {
    color: #3F3F3F;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}
.salida{
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
}

form {
    display: flex;
    text-align: center;

    flex-direction: column;
    align-items: center;
}

label {
    color: #3F3F3F;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

input[type="text"] {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    width: 50%;
}

.result {
    color: #3F3F3F;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}
